body {
	height: 100%;
	background: #333;
	min-height: 100%;
	font-family: Roboto;
	overflow: hidden;
}

#startRndBtn {
	position: absolute;
    width: 100px;
    background: #222;
    color: white;
    text-align: center;
    cursor: default;
}

div.blackCard {
	width: 200px;
	height: 250px;
	background: black;
	color: white;
	position: absolute;
	top: 61%;
	margin-top: -125px;
	-webkit-user-select: none;
	cursor: default;
}

div.whiteCardContainer {
	width: 1070px;
	height: 270px;
	background: black;
	position: absolute;
    top: 61%;
    margin-top: -135px;
    left: 220px;
    display: inline-flex;
}

div#playerInfo {
	color: white;
}

div.whiteCard {
	width: 200px;
	margin: 10px;
	margin-left: 0px;
	opacity: 0;
	height: 250px;
	background: white;
	display: inline-block;
	-webkit-user-select: none;
	cursor: pointer;
}

div.whiteCardPlayed {
	width: 200px;
	margin: 10px;
	height: 250px;
	background: white;
	display: inline-block;
	-webkit-user-select: none;
	cursor: pointer;
}

div#alertBox {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -50px;
	background: #37F;
	left: 0px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: white;
	z-index: 11;
}

div#timeLeftTimer {
	position: absolute;
    right: 0;
    width: 100px;
    height: 22px;
    color: white;
    line-height: 22px;
}

div.cardsPlayed {
	width: 80%;
    height: 270px;
    background: black;
    left: 50%;
    position: absolute;
    margin-left: -40%;
    top: 60px;
    display: inline-flex;
}

div.scoreboard {
    width: 40%;
		height: 145px;
    top: 80%;
    position: absolute;
    background: black;
    color: white;
}

div#cover {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #333;
	z-index: 10;
}

div#serverIpContainer {
	width: 250px;
	position: absolute;
	left: 50%;
	height: 50px;
	line-height: 24px;
	text-align: center;
	top: 50%;
	margin: -25px 0px 0px -125px;
}

input#serverIp {
}

input#serverIpButton {
	font-size: 20px;
	color: white;
	border: none;
	background: #606060;
	width: 150px;
	margin-top: 10px;
}

p#serverIpNote {
	margin: 0px;
	color: white;
	font-size: 13px;
}

input.inputBeg {
	border: none;
  color: #333;
  font-size: 20px;
  width: 250px;
	text-align: center;
}
